<div class="w-full text-center bg-blue-500 text-white py-4"> Angular Coding Problem </div>
<!--  Routing Two Problems -->
<!-- Navigation -->
<nav class="flex justify-center space-x-4 my-4">
  <button routerLink="/deadline" routerLinkActive="underline font-bold text-blue-500"
    class="px-4 py-2 rounded bg-transparent text-blue-600 hover:underline focus:outline-none">
    Angular Coding Problem
  </button>
  <button routerLink="/cameras-test" routerLinkActive="underline font-bold text-blue-500"
    class="px-4 py-2 rounded bg-transparent text-blue-600 hover:underline focus:outline-none">
    Bonus: Cameras Test
  </button>
</nav>
<router-outlet />

<app-error-pop-up></app-error-pop-up>